#intro{
	border: 1px solid black;
}
.spotlight{
	background-color:#fefe22;
}

p, h2{
	color: #006400;
	font-size: 12px;
	text-decoration: line-through;
	//color:#888888;
	text-decoration: underline;
	border-style: solid;
	border-width:  2px;
	border-color: blue;

}
p a{
	color:orange;

}
h1{
	color:#888888;
	margin: 20px;
	padding: 40px;
	text-transform: uppercase;
	border-style: dashed;
	border-width:  5px;
	border-color: red

	
}

body{
	border-style: solid;
	font-family: sans-serif;
	font-size:12px;
	 background: #440000;
}

}

